{% extends "catalog/base.html" %}

{% block title %}{{ block.super }} | {{ author }}{% endblock %}

{% block content %}
  <h1 class="section double-padded">
    <small>Author Detail</small>
    Full Name: {{ author }}
  </h1>

  <div class="section">
    <p>
      <strong>First name:</strong> {{ author.first_name }}
    </p>

    <p>
      <strong>Last name:</strong> {{ author.last_name }}
    </p>

    <p>
      <strong>Born:</strong> {{ author.date_of_birth }}
    </p>

    <p>
      <strong>Died:</strong> {{ author.date_of_death }}
    </p>
  </div>

  <h3 class="section double-padded">Books</h3>

  <div class="section">
    {% for book in author.book_set.all %}
      <a href="{{ book.get_absolute_url }}">{{ book }}</a> ({{ book.bookinstance_set.all.count }})

      <p>{{ book.summary }}</p>

      {% if not forloop.last %}<hr>{% endif %}
    {% endfor %}
  </div>
{% endblock %}
