<!doctype html>
<html class="no-js" lang="{{ LANGUAGE_CODE }}">
<head>
  <meta charset="utf-8">
  <title>{% block title %}Local Library{% endblock %}</title>
  <meta name="description" content="MDN Django Tutorial - LocalLibrary">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <link rel="manifest" href="site.webmanifest">
  <link rel="apple-touch-icon" href="icon.png">
  <!-- Place favicon.ico in the root directory -->

  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/mini.css/3.0.1/mini-default.min.css">
  {% load static %}
  <link rel="stylesheet" href="{% static 'catalog/css/main.css' %}">

  <meta name="theme-color" content="#fafafa">
</head>

<body>
  <div class="container">
    <div class="row">
      <div class="col-sm-12">
        <header>
          <a class="logo" href="https://github.com/biobot-01/book-catalog">Book Catalog</a>
        </header>
      </div>
    </div>

    <div class="row">
      <aside class="col-sm-12 col-md-2">
        {% block sidebar %}
          <nav>
            <a href="{% url 'catalog:index' %}">Home</a>
            <a href="{% url 'catalog:books' %}">All books</a>
            <a href="#">All authors</a>
          </nav>
        {% endblock %}
      </aside>

      <main class="col-sm-12 col-md-10">
        <article>
          <section class="container">
            {% block content %}{% endblock %}

            {% block pagination %}
              {% if is_paginated %}
                <div class="row">
                  <div class="col-sm-12 col-md-8 col-md-offset-1">
                    {% if page_obj.has_previous %}
                      <a href="{{ request.path }}?page={{ page_obj.previous_page_number }}">previous</a>
                    {% endif %}

                    <span>Page {{ page_obj.number }} of {{ page_obj.paginator.num_pages }}.</span>

                    {% if page_obj.has_next %}
                      <a href="{{ request.path }}?page={{ page_obj.next_page_number}}">next</a>
                    {% endif %}
                  </div>
                </div>
              {% endif %}
            {% endblock %}
          </section>
        </article>
      </main>
    </div>

    <div class="row">
      <div class="col-sm-12">
        <footer>
          <p>MDN Django Tutorial - LocalLibrary</p>
          <a href="https://developer.mozilla.org/en-US/docs/Learn/Server-side/Django/Tutorial_local_library_website">Go to tutorial</a>
        </footer>
      </div>
    </div>
  </div>
</body>
</html>
